
.vs/PairProgramming/v15/.suo
.vs/PairProgramming/v15/Server/sqlite3/db.lock
.vs/PairProgramming/v15/Server/sqlite3/storage.ide
.vs/PairProgramming/v15/Server/sqlite3/storage.ide-shm
.vs/PairProgramming/v15/Server/sqlite3/storage.ide-wal
.vs/PairProgramming/lut/coverage.lutdata
.vs/PairProgramming/lut/9624/t/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.runtimeconfig.json
.vs/PairProgramming/lut/9624/t/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.runtimeconfig.dev.json
.vs/PairProgramming/lut/9624/t/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.dll
.vs/PairProgramming/lut/9624/t/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.deps.json
.vs/PairProgramming/lut/9624/t/UnitTestMusicTest/Debug/netcoreapp2.1/RestV2.dll
.vs/PairProgramming/lut/9624/t/UnitTestMusicTest/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/9624/t/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
.vs/PairProgramming/lut/9624/t/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
.vs/PairProgramming/lut/9624/t/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
.vs/PairProgramming/lut/9624/t/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/9624/t/RestV2/Debug/netcoreapp2.1/RestV2.runtimeconfig.json
.vs/PairProgramming/lut/9624/t/RestV2/Debug/netcoreapp2.1/RestV2.runtimeconfig.dev.json
.vs/PairProgramming/lut/9624/t/RestV2/Debug/netcoreapp2.1/RestV2.dll
.vs/PairProgramming/lut/9624/t/RestV2/Debug/netcoreapp2.1/RestV2.deps.json
.vs/PairProgramming/lut/9624/t/RestV2/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/9624/t/RestV2/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/9624/t/PairProgramming/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/9624/t/PairProgramming/Debug/netcoreapp2.1/PairProgramming.deps.json
.vs/PairProgramming/lut/9624/t/PairProgramming/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/9624/i/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.Program.cs
.vs/PairProgramming/lut/9624/i/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.dll
.vs/PairProgramming/lut/9624/i/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.csprojAssemblyReference.cache
.vs/PairProgramming/lut/9624/i/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.csproj.FileListAbsolute.txt
.vs/PairProgramming/lut/9624/i/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.csproj.CoreCompileInputs.cache
.vs/PairProgramming/lut/9624/i/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.csproj.CopyComplete
.vs/PairProgramming/lut/9624/i/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.assets.cache
.vs/PairProgramming/lut/9624/i/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.AssemblyInfoInputs.cache
.vs/PairProgramming/lut/9624/i/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.AssemblyInfo.cs
.vs/PairProgramming/lut/9624/i/RestV2/Debug/netcoreapp2.1/RestV2.RazorTargetAssemblyInfo.cache
.vs/PairProgramming/lut/9624/i/RestV2/Debug/netcoreapp2.1/RestV2.RazorAssemblyInfo.cs
.vs/PairProgramming/lut/9624/i/RestV2/Debug/netcoreapp2.1/RestV2.RazorAssemblyInfo.cache
.vs/PairProgramming/lut/9624/i/RestV2/Debug/netcoreapp2.1/RestV2.dll
.vs/PairProgramming/lut/9624/i/RestV2/Debug/netcoreapp2.1/RestV2.csprojAssemblyReference.cache
.vs/PairProgramming/lut/9624/i/RestV2/Debug/netcoreapp2.1/RestV2.csproj.FileListAbsolute.txt
.vs/PairProgramming/lut/9624/i/RestV2/Debug/netcoreapp2.1/RestV2.csproj.CoreCompileInputs.cache
.vs/PairProgramming/lut/9624/i/RestV2/Debug/netcoreapp2.1/RestV2.csproj.CopyComplete
.vs/PairProgramming/lut/9624/i/RestV2/Debug/netcoreapp2.1/RestV2.assets.cache
.vs/PairProgramming/lut/9624/i/RestV2/Debug/netcoreapp2.1/RestV2.AssemblyInfoInputs.cache
.vs/PairProgramming/lut/9624/i/RestV2/Debug/netcoreapp2.1/RestV2.AssemblyInfo.cs
.vs/PairProgramming/lut/9624/i/PairProgramming/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/9624/i/PairProgramming/Debug/netcoreapp2.1/PairProgramming.csprojAssemblyReference.cache
.vs/PairProgramming/lut/9624/i/PairProgramming/Debug/netcoreapp2.1/PairProgramming.csproj.FileListAbsolute.txt
.vs/PairProgramming/lut/9624/i/PairProgramming/Debug/netcoreapp2.1/PairProgramming.csproj.CoreCompileInputs.cache
.vs/PairProgramming/lut/9624/i/PairProgramming/Debug/netcoreapp2.1/PairProgramming.csproj.CopyComplete
.vs/PairProgramming/lut/9624/i/PairProgramming/Debug/netcoreapp2.1/PairProgramming.assets.cache
.vs/PairProgramming/lut/9624/i/PairProgramming/Debug/netcoreapp2.1/PairProgramming.AssemblyInfoInputs.cache
.vs/PairProgramming/lut/9624/i/PairProgramming/Debug/netcoreapp2.1/PairProgramming.AssemblyInfo.cs
.vs/PairProgramming/lut/9624/buildstate.lut
.vs/PairProgramming/lut/9624/b/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.runtimeconfig.json
.vs/PairProgramming/lut/9624/b/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.runtimeconfig.dev.json
.vs/PairProgramming/lut/9624/b/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.dll
.vs/PairProgramming/lut/9624/b/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.deps.json
.vs/PairProgramming/lut/9624/b/UnitTestMusicTest/Debug/netcoreapp2.1/RestV2.dll
.vs/PairProgramming/lut/9624/b/UnitTestMusicTest/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/9624/b/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
.vs/PairProgramming/lut/9624/b/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
.vs/PairProgramming/lut/9624/b/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
.vs/PairProgramming/lut/9624/b/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/9624/b/RestV2/Debug/netcoreapp2.1/RestV2.runtimeconfig.json
.vs/PairProgramming/lut/9624/b/RestV2/Debug/netcoreapp2.1/RestV2.runtimeconfig.dev.json
.vs/PairProgramming/lut/9624/b/RestV2/Debug/netcoreapp2.1/RestV2.dll
.vs/PairProgramming/lut/9624/b/RestV2/Debug/netcoreapp2.1/RestV2.deps.json
.vs/PairProgramming/lut/9624/b/RestV2/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/9624/b/RestV2/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/9624/b/PairProgramming/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/9624/b/PairProgramming/Debug/netcoreapp2.1/PairProgramming.deps.json
.vs/PairProgramming/lut/9624/b/PairProgramming/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/9624/1/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.runtimeconfig.json
.vs/PairProgramming/lut/9624/1/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.runtimeconfig.dev.json
.vs/PairProgramming/lut/9624/1/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.dll
.vs/PairProgramming/lut/9624/1/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.deps.json
.vs/PairProgramming/lut/9624/1/UnitTestMusicTest/Debug/netcoreapp2.1/RestV2.dll
.vs/PairProgramming/lut/9624/1/UnitTestMusicTest/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/9624/1/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
.vs/PairProgramming/lut/9624/1/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
.vs/PairProgramming/lut/9624/1/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
.vs/PairProgramming/lut/9624/1/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/9624/1/RestV2/Debug/netcoreapp2.1/RestV2.runtimeconfig.json
.vs/PairProgramming/lut/9624/1/RestV2/Debug/netcoreapp2.1/RestV2.runtimeconfig.dev.json
.vs/PairProgramming/lut/9624/1/RestV2/Debug/netcoreapp2.1/RestV2.dll
.vs/PairProgramming/lut/9624/1/RestV2/Debug/netcoreapp2.1/RestV2.deps.json
.vs/PairProgramming/lut/9624/1/RestV2/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/9624/1/RestV2/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/9624/1/PairProgramming/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/9624/1/PairProgramming/Debug/netcoreapp2.1/PairProgramming.deps.json
.vs/PairProgramming/lut/9624/1/PairProgramming/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/9624/0/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.runtimeconfig.json
.vs/PairProgramming/lut/9624/0/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.runtimeconfig.dev.json
.vs/PairProgramming/lut/9624/0/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.dll
.vs/PairProgramming/lut/9624/0/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.deps.json
.vs/PairProgramming/lut/9624/0/UnitTestMusicTest/Debug/netcoreapp2.1/RestV2.dll
.vs/PairProgramming/lut/9624/0/UnitTestMusicTest/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/9624/0/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
.vs/PairProgramming/lut/9624/0/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
.vs/PairProgramming/lut/9624/0/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
.vs/PairProgramming/lut/9624/0/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/9624/0/RestV2/Debug/netcoreapp2.1/RestV2.runtimeconfig.json
.vs/PairProgramming/lut/9624/0/RestV2/Debug/netcoreapp2.1/RestV2.runtimeconfig.dev.json
.vs/PairProgramming/lut/9624/0/RestV2/Debug/netcoreapp2.1/RestV2.dll
.vs/PairProgramming/lut/9624/0/RestV2/Debug/netcoreapp2.1/RestV2.deps.json
.vs/PairProgramming/lut/9624/0/RestV2/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/9624/0/RestV2/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/9624/0/PairProgramming/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/9624/0/PairProgramming/Debug/netcoreapp2.1/PairProgramming.deps.json
.vs/PairProgramming/lut/9624/0/PairProgramming/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/21580/t/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.runtimeconfig.json
.vs/PairProgramming/lut/21580/t/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.runtimeconfig.dev.json
.vs/PairProgramming/lut/21580/t/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.dll
.vs/PairProgramming/lut/21580/t/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.deps.json
.vs/PairProgramming/lut/21580/t/UnitTestMusicTest/Debug/netcoreapp2.1/RestV2.dll
.vs/PairProgramming/lut/21580/t/UnitTestMusicTest/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/21580/t/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
.vs/PairProgramming/lut/21580/t/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
.vs/PairProgramming/lut/21580/t/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
.vs/PairProgramming/lut/21580/t/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/21580/t/RestV2/Debug/netcoreapp2.1/RestV2.runtimeconfig.json
.vs/PairProgramming/lut/21580/t/RestV2/Debug/netcoreapp2.1/RestV2.runtimeconfig.dev.json
.vs/PairProgramming/lut/21580/t/RestV2/Debug/netcoreapp2.1/RestV2.dll
.vs/PairProgramming/lut/21580/t/RestV2/Debug/netcoreapp2.1/RestV2.deps.json
.vs/PairProgramming/lut/21580/t/RestV2/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/21580/t/RestV2/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/21580/t/PairProgramming/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/21580/t/PairProgramming/Debug/netcoreapp2.1/PairProgramming.deps.json
.vs/PairProgramming/lut/21580/t/PairProgramming/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/21580/i/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.Program.cs
.vs/PairProgramming/lut/21580/i/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.dll
.vs/PairProgramming/lut/21580/i/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.csprojAssemblyReference.cache
.vs/PairProgramming/lut/21580/i/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.csproj.FileListAbsolute.txt
.vs/PairProgramming/lut/21580/i/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.csproj.CoreCompileInputs.cache
.vs/PairProgramming/lut/21580/i/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.csproj.CopyComplete
.vs/PairProgramming/lut/21580/i/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.assets.cache
.vs/PairProgramming/lut/21580/i/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.AssemblyInfoInputs.cache
.vs/PairProgramming/lut/21580/i/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.AssemblyInfo.cs
.vs/PairProgramming/lut/21580/i/RestV2/Debug/netcoreapp2.1/RestV2.RazorTargetAssemblyInfo.cache
.vs/PairProgramming/lut/21580/i/RestV2/Debug/netcoreapp2.1/RestV2.RazorAssemblyInfo.cs
.vs/PairProgramming/lut/21580/i/RestV2/Debug/netcoreapp2.1/RestV2.RazorAssemblyInfo.cache
.vs/PairProgramming/lut/21580/i/RestV2/Debug/netcoreapp2.1/RestV2.dll
.vs/PairProgramming/lut/21580/i/RestV2/Debug/netcoreapp2.1/RestV2.csprojAssemblyReference.cache
.vs/PairProgramming/lut/21580/i/RestV2/Debug/netcoreapp2.1/RestV2.csproj.FileListAbsolute.txt
.vs/PairProgramming/lut/21580/i/RestV2/Debug/netcoreapp2.1/RestV2.csproj.CoreCompileInputs.cache
.vs/PairProgramming/lut/21580/i/RestV2/Debug/netcoreapp2.1/RestV2.csproj.CopyComplete
.vs/PairProgramming/lut/21580/i/RestV2/Debug/netcoreapp2.1/RestV2.assets.cache
.vs/PairProgramming/lut/21580/i/RestV2/Debug/netcoreapp2.1/RestV2.AssemblyInfoInputs.cache
.vs/PairProgramming/lut/21580/i/RestV2/Debug/netcoreapp2.1/RestV2.AssemblyInfo.cs
.vs/PairProgramming/lut/21580/i/PairProgramming/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/21580/i/PairProgramming/Debug/netcoreapp2.1/PairProgramming.csprojAssemblyReference.cache
.vs/PairProgramming/lut/21580/i/PairProgramming/Debug/netcoreapp2.1/PairProgramming.csproj.FileListAbsolute.txt
.vs/PairProgramming/lut/21580/i/PairProgramming/Debug/netcoreapp2.1/PairProgramming.csproj.CoreCompileInputs.cache
.vs/PairProgramming/lut/21580/i/PairProgramming/Debug/netcoreapp2.1/PairProgramming.csproj.CopyComplete
.vs/PairProgramming/lut/21580/i/PairProgramming/Debug/netcoreapp2.1/PairProgramming.assets.cache
.vs/PairProgramming/lut/21580/i/PairProgramming/Debug/netcoreapp2.1/PairProgramming.AssemblyInfoInputs.cache
.vs/PairProgramming/lut/21580/i/PairProgramming/Debug/netcoreapp2.1/PairProgramming.AssemblyInfo.cs
.vs/PairProgramming/lut/21580/buildstate.lut
.vs/PairProgramming/lut/21580/b/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.runtimeconfig.json
.vs/PairProgramming/lut/21580/b/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.runtimeconfig.dev.json
.vs/PairProgramming/lut/21580/b/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.dll
.vs/PairProgramming/lut/21580/b/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.deps.json
.vs/PairProgramming/lut/21580/b/UnitTestMusicTest/Debug/netcoreapp2.1/RestV2.dll
.vs/PairProgramming/lut/21580/b/UnitTestMusicTest/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/21580/b/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
.vs/PairProgramming/lut/21580/b/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
.vs/PairProgramming/lut/21580/b/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
.vs/PairProgramming/lut/21580/b/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/21580/b/RestV2/Debug/netcoreapp2.1/RestV2.runtimeconfig.json
.vs/PairProgramming/lut/21580/b/RestV2/Debug/netcoreapp2.1/RestV2.runtimeconfig.dev.json
.vs/PairProgramming/lut/21580/b/RestV2/Debug/netcoreapp2.1/RestV2.dll
.vs/PairProgramming/lut/21580/b/RestV2/Debug/netcoreapp2.1/RestV2.deps.json
.vs/PairProgramming/lut/21580/b/RestV2/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/21580/b/RestV2/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/21580/b/PairProgramming/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/21580/b/PairProgramming/Debug/netcoreapp2.1/PairProgramming.deps.json
.vs/PairProgramming/lut/21580/b/PairProgramming/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/21580/1/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.runtimeconfig.json
.vs/PairProgramming/lut/21580/1/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.runtimeconfig.dev.json
.vs/PairProgramming/lut/21580/1/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.dll
.vs/PairProgramming/lut/21580/1/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.deps.json
.vs/PairProgramming/lut/21580/1/UnitTestMusicTest/Debug/netcoreapp2.1/RestV2.dll
.vs/PairProgramming/lut/21580/1/UnitTestMusicTest/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/21580/1/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
.vs/PairProgramming/lut/21580/1/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
.vs/PairProgramming/lut/21580/1/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
.vs/PairProgramming/lut/21580/1/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/21580/1/RestV2/Debug/netcoreapp2.1/RestV2.runtimeconfig.json
.vs/PairProgramming/lut/21580/1/RestV2/Debug/netcoreapp2.1/RestV2.runtimeconfig.dev.json
.vs/PairProgramming/lut/21580/1/RestV2/Debug/netcoreapp2.1/RestV2.dll
.vs/PairProgramming/lut/21580/1/RestV2/Debug/netcoreapp2.1/RestV2.deps.json
.vs/PairProgramming/lut/21580/1/RestV2/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/21580/1/RestV2/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/21580/1/PairProgramming/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/21580/1/PairProgramming/Debug/netcoreapp2.1/PairProgramming.deps.json
.vs/PairProgramming/lut/21580/1/PairProgramming/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/21580/0/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.runtimeconfig.json
.vs/PairProgramming/lut/21580/0/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.runtimeconfig.dev.json
.vs/PairProgramming/lut/21580/0/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.dll
.vs/PairProgramming/lut/21580/0/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.deps.json
.vs/PairProgramming/lut/21580/0/UnitTestMusicTest/Debug/netcoreapp2.1/RestV2.dll
.vs/PairProgramming/lut/21580/0/UnitTestMusicTest/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/21580/0/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
.vs/PairProgramming/lut/21580/0/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
.vs/PairProgramming/lut/21580/0/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
.vs/PairProgramming/lut/21580/0/UnitTestMusicTest/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/21580/0/RestV2/Debug/netcoreapp2.1/RestV2.runtimeconfig.json
.vs/PairProgramming/lut/21580/0/RestV2/Debug/netcoreapp2.1/RestV2.runtimeconfig.dev.json
.vs/PairProgramming/lut/21580/0/RestV2/Debug/netcoreapp2.1/RestV2.dll
.vs/PairProgramming/lut/21580/0/RestV2/Debug/netcoreapp2.1/RestV2.deps.json
.vs/PairProgramming/lut/21580/0/RestV2/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/21580/0/RestV2/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/21580/0/PairProgramming/Debug/netcoreapp2.1/PairProgramming.dll
.vs/PairProgramming/lut/21580/0/PairProgramming/Debug/netcoreapp2.1/PairProgramming.deps.json
.vs/PairProgramming/lut/21580/0/PairProgramming/Debug/netcoreapp2.1/Microsoft.CodeAnalysis.LiveUnitTesting.Runtime.dll
.vs/PairProgramming/lut/0/i/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.csprojAssemblyReference.cache
.vs/PairProgramming/lut/0/i/RestV2/Debug/netcoreapp2.1/RestV2.csprojAssemblyReference.cache
.vs/PairProgramming/lut/0/buildstate.lut
.vs/PairProgramming/DesignTimeBuild/.dtbcache
.vs/PairProgramming/lut/0/i/RestV2/Debug/netcoreapp2.1/RestV2.csprojAssemblyReference.cache
.vs/PairProgramming/lut/0/i/UnitTestMusicTest/Debug/netcoreapp2.1/UnitTestMusicTest.csprojAssemblyReference.cache
