
.vs/PairProgramming/v15/.suo
.vs/PairProgramming/v15/Server/sqlite3/db.lock
.vs/PairProgramming/v15/Server/sqlite3/storage.ide
.vs/PairProgramming/v15/Server/sqlite3/storage.ide-shm
.vs/PairProgramming/v15/Server/sqlite3/storage.ide-wal
